[Unit]
Description=Image Slideshow Service
After=graphical-session.target

[Service]
Type=simple
Environment=DISPLAY=:0
Environment=PYTHONUNBUFFERED=1
WorkingDirectory={{WORKDIR}}
ExecStart={{PYTHON_BIN}} main.py
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
